@font-face {
    font-family: 'pokemon classic';
    src: url(../font/pokemon-classic.ttf);
}

:root {
    --white: rgb(224, 224, 224);
    --black: rgb(36, 36, 36);
    --primary-color: rgb(238, 64, 53);
    --secondary-color: rgb(104, 104, 104);
    --bottom-color: rgb(236, 236, 236);
    --gradient: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.2) 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(68, 68, 68);
    background-attachment: fixed;
    font-family: 'pokemon classic', Arial, Helvetica, sans-serif;
    color: var(--white);
}

/* Background */

.background {
    width: 200vw;
    height: 300vh;
    position: fixed;
    top: -100vh;
    bottom: 0;
    left: -50vw;
    right: 0;
    background: url(../img/background.svg);
    background-size: 25%;
    background-attachment: fixed;
    transform: rotate(-30deg);
    z-index: -100;
}

/* Title */

.title-container {
    background: var(--primary-color) var(--gradient);
}

.title {
    margin: 0;
    padding: 2% 0;
    font-size: 1.5rem;
    text-align: center;
}

.white-part {
    height: 2vh;
    background: var(--bottom-color) var(--gradient);
    border-radius: 50rem;
    transform: translateY(50%)
}

/* Main */

.main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 1.5rem;
}

/* Columns */

.column {
    flex: 1;
}

.column-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.column-title {
    width: 50%;
    margin: 0 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-bottom: 0.25rem solid var(--white);
}

.button {
    --border-color: rgba(0, 0, 0, 0.8);
    --button-color: rgb(104, 104, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    background: var(--button-color) var(--gradient);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    font: inherit;
    font-size: 0.65rem;
    cursor: pointer;
    &:hover {
        --border-color: var(--white);
        scale: 1.1;
    }
}

.recomend-types.button {
    --button-color: var(--primary-color);
    /* padding: 0.5rem; */
}

.icon {
    --size: 1.5rem;
    width: var(--size);
    height: var(--size);
    & * {
        fill: var(--white);
    }
}

.separator {
    padding: 0.3rem;
    background: var(--bottom-color) var(--gradient);
    border-radius: 0.25rem;
}

.types-container {
    min-height: 75vh;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.type {
    --color: var(--secondary-color);
    --border-color: rgb(59, 59, 59);
    --text-color: var(--white);
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 2rem;
    background: var(--color) var(--gradient);
    color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 100rem;
    box-shadow: 0 0.25rem 0 0 rgba(0,0,0,0.2);
    font-size: 0.75em;
    text-align: center;
    text-transform: capitalize;
    &.active {
        --color: var(--type-color);
        color: var(--text-color)
    }
}

.selector .type:hover {
    cursor: pointer;
    scale: 1.1;
    --border-color: var(--white);
}

.modal-background {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    &.active {
        display: flex;
    }
}

.modal {
    min-width: 40rem;
    max-width: 90vw;
    width: 50%;
    background: var(--secondary-color) var(--gradient);
    border-radius: 1rem;
    box-shadow: 0rem 0.75rem 0 0 rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--primary-color);
    border-bottom: 0.5rem solid rgba(0,0,0,0.2);
    border-radius: 1rem 1rem 0 0;
}

.close-modal-button {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        scale: 1.1;
    }
}

.filter-container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.filter {
    --border-color: rgba(0,0,0,0.8);
    background: var(--primary-color) var(--gradient);
    padding: 0.25rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.5rem;
    & option {
        text-align: left;
        border-radius: 1rem;
    }
    &:focus {
        --border-color: var(--white);
        outline: none;
    }
}

.no-types {
    display: none;
    padding: 1rem;
    &.active {
        display: block;
    }
}

.types-container.to-include {
    min-height: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.to-include .type {
    --color: var(--type-color);
    display: none;
    width: 8rem;
    text-decoration: none;
    &.active {
        display: block;
    }
    &:hover {
        filter: brightness(0.9);
    }
}

@media (max-width: 767px) {
    .type {
        width: 70%;
        margin-bottom: 0.5rem;
    }

    .column-title-container {
        position: relative;
    }

    .button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    .modal {
        min-width: 90vw;
    }

    .types-container.to-include {
        justify-content: space-evenly;
    }

    .to-include .type {
        margin-bottom: 0;
    }
}